.tableHead {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-bottom: 0;
}

.elementTableHead {
  border: 1px solid grey;
}

.boxTable {
  border: 1px solid grey;
}

.boxTable:nth-child(1) {
  background-color: gold;
  flex: 1;
  min-width: 85px;
}

.boxTable:nth-child(2) {
  background-color: azure;
  flex: 9;
  min-width: 100px;
}

.boxTable:nth-child(3) {
  background-color: azure;
  flex: 1;
  min-width: 85px;
}

button {
  margin-top: 15px;
  padding: 5px;
  margin-right: 15px;
}