* {
  margin: 0;
  padding: 0;
}

#listMenuComponent {
  min-width: 800 px;
  width: 80%;
  margin: auto;
}

li {
  display: inline-block;
  width: 33.1%;
  text-align: center;
  border: 1px solid grey;
  height: 40px;
  line-height: 40px;
}

ul li a {
  display: block;
  height: 100%;
  width: 100%;
}