<div class="subMenuContainer">
  <p>Add an AP </p>

  <hr>

  <form [formGroup]="addApForm" (ngSubmit)="onSubmit()">
    <div class="formContainer">
      <label for="inputIdAddApForm">Id :</label>
      <input type="number" id="inputIdAddApForm" formControlName="inputIdAddApForm" placeholder="automatic">
    </div>
    <div class="formContainer">
      <label for="inputLabelAddApForm">Label :</label>
      <input type="text" id="inputLabelAddApForm" formControlName="inputLabelAddApForm">
    </div>
    <button type="submit" [disabled]="addApForm.invalid">Create an AP</button>
  </form>

  <p>{{ errorMessage }}</p>
</div>