* {
  margin: 0;
  padding: 0;
}

a, button {
  background-color: floralwhite;
}

a svg {
  fill: black;
}

p {
  margin: 15px;
  display: inline-block;
}

.tableBody {
  display: flex;
  flex-direction: row;
}

.boxTableBody {
  border: 1px solid grey;
  padding: 0;
}

.boxTableBody:hover button {
  visibility: visible;
}

.boxTableBody:nth-child(1) {
  flex: 1;
  min-width: 85px;
}

.boxTableBody:nth-child(2) {
  flex: 9;
  min-width: 100px;
}

/* svg */
.svgContainer {
  float: right;
  margin-right: 7px;
  height: 30px;
  margin-top: 12px;
  line-height: 30px;
}

.svgContainer button {
  margin-right: 7px;
}

.svgContainer button {
  visibility: hidden;
  display: inline-block;
  width: 25px;
  fill: black;
}

.optionSvg:hover {
  fill: dimgray;
}

.deleteSvg:hover {
  fill: darkred;
}