<div class="subMenuContainer">
  <p>Add an NC </p>

  <hr>

  <form [formGroup]="addNcForm" (ngSubmit)="onSubmit()">
    <div class="formContainer">
      <label for="inputIdAddNcForm">Id :</label>
      <input type="number" id="inputIdAddNcForm" formControlName="inputIdAddNcForm" placeholder="automatic">
    </div>
    <div class="formContainer">
      <label for="inputLabelAddNcForm">Label :</label>
      <input type="text" id="inputLabelAddNcForm" formControlName="inputLabelAddNcForm">
    </div>
    <button type="submit" [disabled]="addNcForm.invalid">Create an NC</button>
  </form>

  <p>{{ errorMessage }}</p>
</div>