* {
  margin: 0;
  padding: 0;
}

p {
  margin: 15px;
}

.subMenuContainer {
  min-width: 800 px;
  width: 80%;
  margin: auto;
  border: 1px solid grey;
  padding: 15px 0 15px 0;
}

.subListContainer {
  min-width: 800 px;
  width: 80%;
  margin: auto;
}