* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

p {
  margin: 15px;
}

a {
  display: block;
  background-color: lightblue;
  text-decoration: none;
  color: white;
}

a:hover {
  color: dimgray;
}

a:active {
  background-color: mediumseagreen;
}

.subMenuContainer {
  min-width: 800 px;
  width: 80%;
  margin: auto;
  border: 1px solid grey;
  padding: 15px 0 15px 0;
}

.subListContainer {
  min-width: 800 px;
  width: 80%;
  margin: auto;
  padding-bottom: 15px;
}