<div class="subListContainer">

  <h2>AP Details
    <span *ngIf="!isModifying">- View mode</span>
    <span *ngIf="isModifying">- Update mode</span>
  </h2>
  <hr>

  <!-- detailsContainer - view mode -->
  <div class="detailsContainer" *ngIf="!isModifying" >
    <div class="detail">
      <p class="titleDetail"><b>Id</b></p>
      <input type="text" placeholder="{{ apId }}" disabled>
    </div>

    <div class="detail" *ngIf="!isModifying">
      <p class="titleDetail"><b>Label</b></p>
      <label>{{ apLabel }}</label>
    </div>
  </div>

  <!-- detailsContainer - update mode -->
  <div class="detailsContainer" *ngIf="isModifying" >
    <div class="detail">
      <p class="titleDetail"><b>Id (update mode)</b></p>
      <input type="text" placeholder="{{ apId }}" disabled>
    </div>

    <div class="detail" *ngIf="isModifying">
      <p class="titleDetail"><b>Label (update mode)</b></p>
      <input id="updateApLabel" name="updateApLabel" type="text"[(ngModel)]="apLabel">
    </div>
    <div class="detail" *ngIf="isModifying">
      <button (click)="onSaveChanges()">Save changes</button>
    </div>
    <div class="detail">{{ test }}</div>
    <hr>
  </div>

  <button routerLink="/ap-list">Back to AP_List</button>
  <button (click)="switchModifyMode()" [disabled]="isModifying">Update mode</button>
  <button (click)="switchModifyMode()" *ngIf="isModifying">Cancel</button>
  <button class="deleteButton">Delete the AP</button>

</div>